@import "tailwindcss";
@tailwind utilities;

.container {
  max-width: 90%;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .container {
    max-width: 80%;
  }
}

body {
  @apply bg-[#0d0d1f] text-white;
  overflow-x: hidden;
}

html{
  scroll-behavior: smooth;
  overflow-x: hidden;
}


